# Assigment Data Engineer

## importing dependencies

In [1]:
import pandas as pd
import numpy as np
import json
from datetime import date,datetime

## Get a pandas DataFrame object of all the data in the json file:

In [2]:
data = pd.read_json('talents_sample.json')

## preview of dataframe

In [3]:
data

,_id,EmailIds,Experience,Domain,Education,Patents,Publications,CreatedOn,UpdateOn,FirstName,...,experienceEnrich_3,resumePath,Mobiles,domain_tag,skills,Certifications,Skills,html_path,PrimaryID,enrichedOn
0,5be55d2e895bbd0ecc542e17,[murali.vasudevan@wal-mart.com],[{'title': 'Assistant Manager - Human Resource...,[],"[{'fieldOfStudy': 'Human Resources', 'projects...",[],[],2018-11-09T10:10:54.185Z,2021-09-23T10:10:54.185Z,Murali,...,[{'title': 'Assistant Manager - Human Resource...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5bfb9cb547b87d5b22be6f6a,[neeraj@formulateip.com],"[{'companyName': 'Chapter.AI', 'startDate': '2...",[],"[{'startDate': '2002', 'endDate': '2004', 'deg...",[],[],2018-11-26T07:11:49.636Z,2018-11-26T07:11:49.636Z,Neeraj,...,"[{'companyName': 'chapter.ai', 'startDate': '2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5dd565ca99209e3e656a2ac7,[suhas.mayekar.ee@gmail.com],"[{'title': 'Regional Sales Manager', 'startDat...",NaN,"[{'fieldOfStudy': 'aggregate of', 'degreeName'...",[],[],2019-11-20 16:11:54.136107,2019-11-20 16:11:54.136108,SUHAS,...,"[{'title': 'Regional Sales Manager', 'startDat...",s3://echoiimjobs/SolutionSales/iimjobs-suhas-m...,[+91-7977954248],"[enterprise software, information technology, ...",NaN,NaN,NaN,NaN,NaN,NaN
3,5dd77779ea1fb9f90ce5d21e,[rahulbhatikp@gmail.com],"[{'title': 'Channel Sales Manager, IT Value Bu...",NaN,"[{'fieldOfStudy': '', 'degreeName': '', 'start...",[],[],2019-11-22 05:51:53.485023,2019-11-22 05:51:53.485024,Rahul,...,"[{'title': 'Channel Sales Manager, IT Value Bu...",s3://echoiimjobs/ITSales/iimjobs-rahul-bhati.doc,[255 6861408],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5dc00363ca2cb5dda0a4b120,[Anand.amit@live.com],"[{'title': 'Corporate Sales Manager', 'locatio...",[],"[{'schoolName': 'Delhi University', 'fieldOfSt...",[],[],2019-11-04 10:54:26.958080,2019-11-04 10:54:26.958082,AMIT,...,[{'title': 'City Manager-Corporate Sales- Delh...,s3://echoiimjobs/CorporateSales/iimjobs-amit-a...,[+91 9899091937],"[life insurance, financial services, banking, ...",NaN,NaN,NaN,NaN,NaN,NaN
5,5d3302210807d15ee9c4856e,[himanshu.v.tanwar@gmail.com],"[{'title': 'Manager, Product Marketing', 'loca...",[],"[{'schoolName': 'SCMHRD Pune', 'fieldOfStudy':...",[],[],2019-07-20T11:59:29.201Z,2019-07-20T11:59:29.201Z,Himanshu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5ddbd5a08d5aefa5e38ca1fd,[gauravkenue@gmail.com],[{'title': 'Senior Subject Matter Expert (Auto...,NaN,"[{'fieldOfStudy': 'Business Analytics', 'degre...",[],[],2019-11-25 13:22:40.069845,2019-11-25 13:22:40.069898,GAURAV,...,NaN,s3://echoiimjobs/Product Management/iimjobs-ga...,"[+91 8587809599, +91 7889518044]","[internet, mobile, telecommunications, service...",NaN,NaN,NaN,NaN,NaN,NaN
7,61dd83c1ac3cdd88dabf62a3,[vvdeshmukh@gmail.com],"[{'title': 'Lead Quality Assurance', 'location...",NaN,[{'schoolName': 'College of Agricultural Techn...,[],[],2022-01-11T13:18:57.389Z,2022-01-11T13:18:57.389Z,VIKRAMSINHAV,...,NaN,s3://echo.resumes/1641907131493_VikramsinhaVDe...,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
8,61d6b8dcac3cdd88dabf5def,[awanishkishore@gmail.com],"[{'title': 'Senior Software Engineer', 'locati...",NaN,[{'schoolName': 'Dayananda Sagar College of En...,[],[],2022-01-06T09:39:40.721Z,2022-01-06T09:39:40.721Z,AWANEESH,...,NaN,s3://echo.resumes/1641461977393_Awaneesh-Kisho...,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
9,61d52758ac3cdd88dabf5c5c,[mail4ritikasingh@gmail.com],"[{'title': 'DATA SCIENTIST', 'location': '', '...",NaN,"[{'schoolName': 'CDAC', 'fieldOfStudy': 'resea...",[],[],2022-01-05T05:06:32.851Z,2022-01-05T05:06:32.851Z,RITIKA,...,NaN,s3://echo.resumes/1641359189408_Ritika_Singh_R...,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
10,61dd07c208d9ebf21498a5e9,[gaurav220@gmail.com],[{'title': 'Associate Principal - Technology S...,NaN,[{'schoolName': 'Apeejay School Of Management'...,[],[],2022-01-11T04:29:54.753Z,2022-01-11T04:29:54.753Z,NaN,...,NaN,NaN,NaN,NaN,NaN,[],"[Sourcing, Executive Search, Interviews]",s3://echohtml/htmldump/61dd0783fc42f0001e15e89...,gaurav220@gmail.com,NaN
11,5c5ea676f4f04f3b2e5cdf11,[pgpm811.nithin@spjimr.org],"[{'companyName': 'Amazon', 'startDate': '2013'...",[],"[{'startDate': '2012', 'endDate': '2012', 'deg...",[],[],2019-02-09T10:07:50.039Z,2019-02-09T10:07:50.039Z,Nithin K,...,NaN,NaN,NaN,NaN,NaN,NaN,"[Management, Operations Management, Vendor Man...",NaN,NaN,NaN
12,5db7f3b07bb56edeb8d34e1e,[hrmania08@gmail.com],[{'title': 'Talent Acquisition / Recruitment L...,[],[{'schoolName': 'Indian Institutes of Technolo...,[],[],2019-10-29 08:09:20.494095,2019-10-29 08:09:20.494098,,...,NaN,s3://echodropbox/Proactive Database- Central F...,NaN,"[marketing, fashion, information technology, a...",NaN,NaN,NaN,NaN,NaN,NaN
13,5db93ae79198b31eefec95e2,[aman.agrawal35@gmail.com],"[{'title': 'Devops engineer', 'location': '', ...",[],"[{'schoolName': 'Technical university', 'field...",[],[],2019-10-30 07:25:27.331790,2019-10-30 07:25:27.331792,Aman,...,NaN,s3://echodropbox/Proactive Database- Central F...,NaN,"[software, collaboration, business information...",NaN,NaN,NaN,NaN,NaN,NaN
14,5ddbd3078d5aefa5e38ca017,[aakash.agg1010@gmail.com],"[{'title': 'Assistant Brand Manager', 'startDa...",NaN,"[{'fieldOfStudy': 'Brand Manager', 'degreeName...",[],[],2019-11-25 13:11:35.283636,2019-11-25 13:11:35.283637,Aakash,...,NaN,s3://echoiimjobs/Product Management/iimjobs-aa...,[9599613746],NaN,NaN,"[{'name': 'AND CERTIFICATIONS', 'issuingAuthor...",NaN,NaN,NaN,NaN
15,5dde9a8bcd014ac56e7e23ff,[mohanmanis@gmail.com],"[{'title': 'Software Engineer', 'startDate': '...",NaN,[{'fieldOfStudy': 'Communication Technologies ...,NaN,NaN,2019-11-27 15:47:23.381031,2019-11-27 15:47:23.381032,Manish,...,NaN,s3://echoinsta/Manish_Mohan.pdf,[8553158885],"[outsourcing, construction, hardware, communic...",NaN,NaN,NaN,NaN,NaN,NaN
16,5f1abd28d6c68a3921475bbc,[alok.senapati96@gmail.com],[],NaN,"[{'activities': '', 'courses': '', 'degreeName...",[],[],2020-07-24T10:51:20.765Z,2020-07-24T10:51:20.765Z,ALOK,...,NaN,NaN,[7377082768],NaN,NaN,NaN,"[Python (Programming Language), Machine Learni...",NaN,NaN,NaN
17,5f1eaa48d6c68a3921476051,[bakul86@gmail.com],"[{'companyName': 'Hopscotch', 'courses': '', '...",NaN,"[{'activities': '', 'courses': '', 'degreeName...",[],[],2020-07-27T10:19:52.355Z,2020-07-27T10:19:52.355Z,Bakul,...,NaN,NaN,[09540231118],NaN,NaN,NaN,[],NaN,NaN,NaN
18,5f460945d6c68a3921477c1f,[badalokesh0007@gmail.com],"[{'companyName': 'innoValus Technologies', 'co...",NaN,"[{'activities': '', 'courses': '', 'degreeName...",[],[],2020-08-26T07:03:33.806Z,2020-08-26T07:03:33.806Z,Lokeswara,...,NaN,NaN,[09945107401],NaN,NaN,NaN,"[Screening, IT Recruitment, Interviews]",NaN,NaN,NaN
19,5fc8baf407cd0c7a4e867602,[rajatverma212@gmail.com],"[{'title': 'Data Science Associate', 'location...",NaN,[{'schoolName': 'Indian Institutes of Technolo...,[],[],2020-12-03T10:16:20.775Z,2020-12-03T10:16:20.775Z,Rajat,...,NaN,s3://echo.resumes/1606990568455_RajatVerma[2_6...,[+91-8514944176],NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,5bfc066d47b87d5b22be6f81,[prersi@gmail.com],"[{'companyName': 'GruBox', 'startDate': '2015'...",[],"[{'startDate': '2002', 'endDate': '2006', 'deg...",[],[],2018-11-26T14:42:53.367Z,2018-11-26T14:42:53.367Z,Prerna,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'skillTag': '2020-03-06T10:13:05.001Z'}

In [4]:
data.shape

(21, 35)

In [27]:
data['Experience'][4]

[{'title': 'Corporate Sales Manager',
  'location': '',
  'startDate': '2016-03-01',
  'endDate': '',
  'description': 'Key Deliverables:\r\n• Managing team of 16 Corporate Agency Managers\r\n• Supporting their development & growth & ensuring highest standards of productivity.\r\n• Launched and managed the Banc assurance operations for the location.\r\n• Responsible for strategic planning & implementation of sales & operations of new location.\r\n• Responsible for channel identification, development and training for sourcing new business.\r\n• Maintaining relationship with existing channel and acquisition of new clients.',
  'companyName': 'HDFC LIFE LTD',
  'courses': '',
  'organizations': '',
  'projects': '',
  'promotion': '',
  'honors': '',
  'recommendations': ''},
 {'title': 'AVIGHNA REALTOR',
  'location': '',
  'startDate': '2011-11-01',
  'endDate': '2016-03-01',
  'description': 'Managing Partner\r\n\r\nKey Deliverables:\r\n• Managing & developing Branch for the organisation.\r\n• Supporting their overall development & growth.\r\n• Ensuring business as measured in productivity, activisation.\r\n• Focusing on creating new opportunity in the different segments and developing the existing ones.\r\n• Recruiting, training Branch Managers for retail sales of Residential and Commercial products.\r\n• Plan and implement innovative sales promotion initiatives to produce quality business. Review and analysis of such initiatives.\r\n\r\nAttainments:\r\n• Produced 8 Best performers across Noida Region.\r\n• Contributed and supported in the growth of 6 Managers in my team including back to back fast track promotions for Managers.',
  'companyName': None,
  'courses': '',
  'organizations': '',
  'projects': '',
  'promotion': '',
  'honors': '',
  'recommendations': ''},
 {'title': 'Client sales Partner (Insurance)',
  'location': '',
  'startDate': '2007-01-01',
  'endDate': '2008-01-01',
  'description': 'Key Deliverables:\r\n• Supporting their overall development & growth\r\n• Ensuring business as measured in productivity, activisation and average premium.\r\n• Focusing on creating new opportunity in the different segments and developing the existing ones.\r\n• Recruiting, training Sales Development Managers for retail sales of Insurance products.\r\n\r\nAttainments:\r\n• Received appreciation for achieving sales targets.\r\n• Been sales topper in the month of March awarded trip to Srilanka.',
  'companyName': 'YES BANK',
  'courses': '',
  'organizations': '',
  'projects': '',
  'promotion': '',
  'honors': '',
  'recommendations': ''},
 {'title': 'Sr Customer care executive',
  'location': '',
  'startDate': '2005-05-01',
  'endDate': '2006-12-01',
  'description': '',
  'companyName': 'HCL TECHNOLOGIES',
  'courses': '',
  'organizations': '',
  'projects': '',
  'promotion': '',
  'honors': '',
  'recommendations': ''}]

In [25]:

# Make a empty dataframe 
experience = pd.DataFrame()
for i in range(len(data)):
    
    #Making a dataframe of data['Experience'][i] column 
    t =  pd.DataFrame(data['Experience'][i])
    
    #If company name is not there than remove that row
    for j in range(len(t)):
            if t['companyName'][j] == None:
                t=t.drop(j)            
    t=t.reset_index(drop=True)
    
    # dataframe is null
    if len(t) ==0:
        ids = data['_id'][i]
        Most_Worked_Company_Name = "Na"
        Least_Worked_Company_Name = "Na"
        Total_experience=0
        Career_gap=0
        data_info1 = {'Ids':ids,'Most_Worked_Company_Name':Most_Worked_Company_Name,'Least_Worked_Company_Name':Least_Worked_Company_Name,'Total_experience':Total_experience,'Career_gap':Career_gap}
        experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
        continue
    
    
    
    #replace current or Present with todays date
    t = t.replace(to_replace =['current','Present'], value =date.today())
    
    # conerting start_date and end_date string column to date fromate
    t['startDate'] = pd.to_datetime(t['startDate'], utc=True)
    t['endDate'] = pd.to_datetime(t['endDate'], utc=True)
    
    # sort the dateframe with respect to startdate and reset index
    t=t.sort_values(by=['startDate'], ascending=True)
    t=t.reset_index(drop=True)
    
    # for dealing the case in which a person is working in the same company and its position change 
    # But its experience is = total time spend in that company
    
    for j in range(1,len(t)):
        if j >= len(t):
            break
        if t['companyName'][j] == t['companyName'][j-1] and t['endDate'][j-1] == t['startDate'][j]:
            t['endDate'][j-1] = t['endDate'][j]
            t=t.drop(j)
            t=t.reset_index(drop=True)
    
    # Condition for removing row don't having both StartDate and EndDate not present
    for j in range(len(t)):
        if j < len(t):
              if type(t['endDate'][j]) ==pd._libs.tslibs.nattype.NaTType and type(t['startDate'][j]) ==pd._libs.tslibs.nattype.NaTType:
                    t=t.drop(j)
                    t=t.reset_index(drop=True)
    
    # if 'employmentDuration' column  is present and endate is not than we add employee duration in startDate 
    if 'employmentDuration' in t:
       for j in range(len(t)):
            if type(t['endDate'][j]) ==pd._libs.tslibs.nattype.NaTType:
                t['endDate'][j] = t['startDate'][j]+pd.offsets.DateOffset(years=t['employmentDuration'][j]['years'], months=t['employmentDuration'][j]['months'])
                t['endDate'][j]=pd.to_datetime(t['endDate'][j], utc=True)
    
    # last row of dataframe dont have enddate than make it todays date            
    if type(t['endDate'][len(t)-1])==pd._libs.tslibs.nattype.NaTType:
                t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
                           
    # if other than last row,  enddate is not present than make endate equal  start date of next row   
    for j in range(len(t)-1):
        if type(t['endDate'][j]) ==pd._libs.tslibs.nattype.NaTType:
            t['endDate'][j] = t['startDate'][j+1]
    
    # for handling duplicate value with consideration that, a person can work only at 1 company in an duration
    # if start date of any 2 column is same than lowest enddate value row get deleted
    for j in range(1,len(t)):
        if j >= len(t):
            break

        if t['startDate'][j] == t['startDate'][j-1]:
              if t['endDate'][j] > t['endDate'][j-1]:
                  t=t.drop(j-1)
                  t=t.reset_index(drop=True)
              else:
                  t=t.drop(j)
                  j=j-1
                  t=t.reset_index(drop=True)    
    
    # Extracting id of 't' dataframe from original data 
    ids = data['_id'][i]
    
    # for get total experience of a particular person 
    # first we make a sperate column in which equals to t['endDate']-t['startDate'] and then convert it to years
    t['exp'] =(t['endDate']-t['startDate'])/np.timedelta64(1, 'Y')
    # then take the total sum of that column as "Total_experience"
    Total_experience= float("{:.2f}".format(t['exp'].sum()))
   
    # for finding most worked company we get the index value of row which have highest exp than make than index company name as Most_Worked_Company_Name 
    Most_Worked_Company_Name=t['companyName'][t['exp'].idxmax(axis = 0)]
    # for finding Least worked company we get the index value of row which have minimum exp than make than index company name as Least_Worked_Company_Name
    Least_Worked_Company_Name=t['companyName'][t['exp'].idxmin(axis = 0)]
    
    # for getting extracting career gap 
    Career_gap= (float("{:.2f}".format((pd.to_datetime(date.today(), utc=True)-pd.to_datetime(t['startDate'][0]))/np.timedelta64(1, 'Y'))))-Total_experience
    
    # now adding the information we exteract of particular row in experience datframe 
    data_info1 = {'Ids':ids,'Most_Worked_Company_Name':Most_Worked_Company_Name,'Least_Worked_Company_Name':Least_Worked_Company_Name,'Total_experience':Total_experience,'Career_gap':Career_gap}
    experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)

C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][j] = t['startDate'][j+1]
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][j] = t['startDate'][j+1]
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][j-1] = t['endDate'][j]
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][j-1] = t['endDate'][j]
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)

C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][j] = t['startDate'][j]+pd.offsets.DateOffset(years=t['employmentDuration'][j]['years'], months=t['employmentDuration'][j]['months'])
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][j]=pd.to_datetime(t['endDate'][j], utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['endDate'][len(t)-1] = pd.to_datetime(date.today(), utc=True)
C:\Users\Mridul0771\AppData\Local\Temp\ipykernel_9148\1771156155.py:106: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  experience = experience.append(data_info1,ignore_index=True).reset_index(drop=True)

In [26]:
# experience datframe view
experience

,Ids,Most_Worked_Company_Name,Least_Worked_Company_Name,Total_experience,Career_gap
0,5be55d2e895bbd0ecc542e17,@WalmartLabs India,HCL Technologies,21.80,0.00
1,5bfb9cb547b87d5b22be6f6a,FormulateIP (www.formulateip.com),Chapter.AI,15.38,0.00
2,5dd565ca99209e3e656a2ac7,SkyBridge Solutions Private Limited,PathInfotech Limited,11.71,2.17
3,5dd77779ea1fb9f90ce5d21e,Redington Gulf,HCL Infosystem Limited,11.46,0.09
4,5dc00363ca2cb5dda0a4b120,HDFC LIFE LTD,YES BANK,8.80,8.25
5,5d3302210807d15ee9c4856e,biggest conglomerate Reliance Industries Ltd,Reliance headquarters,5.63,3.00
6,5ddbd5a08d5aefa5e38ca1fd,Amdocs Development Centre (Delhi) Pvt Ltd.,Vodafone,3.25,9.72
7,61dd83c1ac3cdd88dabf62a3,Hindustan Unilever Ltd at Nasik,Abbott Healthcare Pvt. Ltd at Jhagadia,18.05,1.75
8,61d6b8dcac3cdd88dabf5def,Tally Solutions Private Limited,OTO Capital,4.88,0.00
9,61d52758ac3cdd88dabf5c5c,ZS Associates,ZS Associates,1.13,0.00
10,61dd07c208d9ebf21498a5e9,TRANSEARCH,Purple Quarter,9.88,0.09
11,5c5ea676f4f04f3b2e5cdf11,Amazon,Apeejay Shipping Ltd.,12.38,2.00
12,5db7f3b07bb56edeb8d34e1e,Syndicate Bank,MetricFox,10.08,5.22
13,5db93ae79198b31eefec95e2,Redbus India Pvt. Ltd,Bluemeric Technologies Pvt. Ltd,8.05,0.66
14,5ddbd3078d5aefa5e38ca017,VIP Industries Ltd.,internal EdTech startup database,6.38,1.34
15,5dde9a8bcd014ac56e7e23ff,SKILLS,Cisco Systems,8.05,0.42
16,5f1abd28d6c68a3921475bbc,Na,Na,0.00,0.00
17,5f1eaa48d6c68a3921476051,Adobe Systems,Tata Consultancy Services,9.58,2.97
18,5f460945d6c68a3921477c1f,innoValus Technologies,innoValus Technologies,6.83,2.55
19,5fc8baf407cd0c7a4e867602,Na,Na,0.00,0.00
20,5bfc066d47b87d5b22be6f81,GruBox,Max India,14.38,1.00